body {
    background-color: #112b55;
    text-align: center;
}

h1, p {
    color: #d9d9d9;
}

a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 20px;
}

#container {
    background-color: black;
    width: 900px;
    margin: auto;
    display: table;
}

#container div {
    width: 28px; 
    height: 28px; 
    border: 1px solid #0c1927;
    float: left;
}

.obstacle {
    background-color: #0c1927;
}

.apples {
    background-color: red;
}

.player {
    background-color: green;
}

.clear {
    padding-top: 20px;
    clear: both;
}

select {
    font-size: 20px;

}